<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
<div class="main" align="center">
  <h1>{{ title }}</h1>
    <div class="addarea">
    <hr>
    <input [(ngModel)] = "newitem" type="text" class="form-control">
    <br> 
    <button [@animation1]='state' (mouseenter) = "animationenter()" (mouseleave) = "animationleave()" (click) = "pushitem()" type="button" class="btn btn-primary btn-sm">Add</button>
    <hr>
    </div>
    <ul class="list-group addarea" *ngFor = "let i of items">
      <li [@flyInOut] class="list-group-item">{{ i }}<span class="close-button" (click) = "removeitem(index)"><i class="fa fa-times" aria-hidden="true"></i>
      </span></li>
    </ul>
</div>
</div>